In [51]:
import pandas as pd
import pandas_profiling
import numpy as np
from pyxlsb import open_workbook

In [52]:
df=[]
with open_workbook('EXL_EQ_2020_Train_datasets.xlsb') as wb:
    with wb.get_sheet('Train Sample') as sheet:
        for row in sheet.rows():
            df.append([item.v for item in row])

df1 = pd.DataFrame(df[1:], columns=df[0])

In [53]:
df1.head()

,cust_id,var1,var2,var3,var4,var5,var6,var7,var8,var9,...,var32,var33,var34,var35,var36,var37,var38,var39,var40,self_service_platform
0,100001.0,2667.0,0.0,0.0,1768.0,0.0,4.0,0.0,2.0,291016.0,...,0.0,other,Inactive,Standard,Video/Internet/Voice,N,None,Single Housing,N,Desktop
1,100002.0,435.0,0.0,0.0,515.0,0.0,3.0,0.0,0.0,137667.0,...,0.0,other,Never,Standard,Video/Internet,N,None,Single Housing,N,Desktop
2,100003.0,1520.0,0.0,0.0,2280.0,0.0,6.0,0.0,4.0,301567.0,...,0.0,other,Inactive,Standard,Video/Internet/Voice,N,Agent,Single Housing,Y,Desktop
3,100004.0,4393.0,0.0,1.0,5731.0,0.0,8.0,1.0,27.0,436735.0,...,1.0,other,Active,Standard,Internet Only,None,None,Single Housing,N,Desktop
4,100005.0,3587.0,0.0,0.0,2493.0,0.0,7.0,0.0,7.0,314970.0,...,0.0,movie_channel1,Never,Standard,Internet Only,N,None,Multi Housing,N,STB

In [54]:
df1.shape

(300000, 38)

In [55]:
for i in df1.columns:
    print(df1[i].head(1))

0    100001.0
Name: cust_id, dtype: float64
0    2667.0
Name: var1, dtype: float64
0    0.0
Name: var2, dtype: float64
0    0.0
Name: var3, dtype: float64
0    1768.0
Name: var4, dtype: float64
0    0.0
Name: var5, dtype: float64
0    4.0
Name: var6, dtype: float64
0    0.0
Name: var7, dtype: float64
0    2.0
Name: var8, dtype: float64
0    291016.0
Name: var9, dtype: float64
0    0.0
Name: var10, dtype: float64
0    0.0
Name: var11, dtype: float64
0    109.0
Name: var12, dtype: float64
0    447.0
Name: var13, dtype: float64
0    0.0
Name: var14, dtype: float64
0    161.0
Name: var15, dtype: float64
0    0.0
Name: var16, dtype: float64
0    9.0
Name: var21, dtype: float64
0    85287.0
Name: var22, dtype: float64
0    27.0
Name: var23, dtype: float64
0    0.0
Name: var24, dtype: float64
0    0.0
Name: var25, dtype: float64
0    4.0
Name: var26, dtype: float64
0    153.0
Name: var27, dtype: float64
0    0.0
Name: var28, dtype: float64
0    0.0
Name: var29, dtype: float64
0    .
Name: var30, dtype: object
0    0.0
Name: var31, dtype: float64
0    0.0
Name: var32, dtype: float64
0    other
Name: var33, dtype: object
0    Inactive
Name: var34, dtype: object
0    Standard
Name: var35, dtype: object
0    Video/Internet/Voice
Name: var36, dtype: object
0    N
Name: var37, dtype: object
0    None
Name: var38, dtype: object
0    Single Housing
Name: var39, dtype: object
0    N
Name: var40, dtype: object
0    Desktop
Name: self_service_platform, dtype: object

In [56]:
# for text columns
print(df1['var30'].value_counts())
print(df1['var33'].value_counts())
print(df1['var34'].value_counts())
print(df1['var35'].value_counts())
print(df1['var36'].value_counts()) #na
print(df1['var37'].value_counts()) #na
print(df1['var38'].value_counts()) #na
print(df1['var39'].value_counts()) #na
print(df1['var40'].value_counts())
print(df1['self_service_platform'].value_counts())

.    300000
Name: var30, dtype: int64
other                     272972
news_channel1               8285
news_channel2               6062
entertainment_channel1      5563
entertainment_channel2      4904
movie_channel1              2214
Name: var33, dtype: int64
Never        105758
Pending      104447
Active        48580
Inactive      34526
Cancelled      6689
Name: var34, dtype: int64
Standard               283150
CreditCard              10127
Electronic Transfer      6723
Name: var35, dtype: int64
Video/Internet                       104654
Video/Internet/Voice                  98173
Internet Only                         63010
Video Only                             9195
Internet/Voice                         8072
Video/Internet/Voice/Homesecurity      5603
Video/Internet/Homesecurity            5153
Internet/Homesecurity                   714
Video/Voice                             359
Homesecurity Only                       160
Internet/Voice/Homesecurity             154
Voice Only                              107
Video/Homesecurity                       10
Video/Voice/Homesecurity                  3
Name: var36, dtype: int64
N    275860
Y      4698
Name: var37, dtype: int64
Agent           65235
Other           36281
Self Service    13332
Name: var38, dtype: int64
Single Housing     214816
Multi Housing       82374
Exclude mapping      2209
Other                 310
Commercial            269
Name: var39, dtype: int64
N    170475
Y    129525
Name: var40, dtype: int64
Desktop       184194
Mobile App     55595
Mobile Web     48063
STB            12148
Name: self_service_platform, dtype: int64

In [57]:
df1.isnull().any()

cust_id                  False
var1                     False
var2                     False
var3                     False
var4                     False
var5                     False
var6                     False
var7                     False
var8                     False
var9                     False
var10                    False
var11                    False
var12                    False
var13                    False
var14                    False
var15                    False
var16                    False
var21                    False
var22                    False
var23                    False
var24                     True
var25                    False
var26                    False
var27                    False
var28                    False
var29                    False
var30                    False
var31                    False
var32                    False
var33                    False
var34                    False
var35                    False
var36                     True
var37                     True
var38                     True
var39                     True
var40                    False
self_service_platform    False
dtype: bool

In [58]:
'''
columns that have nan values are var24, var36, var37, var38, var39
'''

print(df1['var24'].unique())
print(df1['var36'].unique())
print(df1['var37'].unique())
print(df1['var38'].unique())
print(df1['var39'].unique())

[  0.  20.  33.   7.  30.   3.  21.  42. 117.   8.  nan   1.  13. 112.
  14.   2.  17.  35.  37.  27.  28.  50.  67.  31.  40.  34.   4. 106.
  16.  41.  47.  74.  52.  64.  39.   9.  60.  59.  12.  19.  43.  68.
 132.  15.  11.  81.  25.  92.   5.  26.  82.  18.  45.  53.   6.  61.
  90.  23.  38.  44.  32.  36.  58.  70.  94.  29.  10.  54.  22.  46.
  48.  65. 104.  77. 103.  55.  57.  24.  49. 110.  97. 114. 109. 136.
  96. 107. 102.  80. 125.  85.  88.  75.  56.  72.  79.  71. 123. 118.
 122. 113.  99. 134.  62. 105.  83. 108.  63. 126. 135. 120.  86.  91.
 131.  76. 100.  93. 101. 121.  89.  51.  69. 124. 147.  87.  73. 115.
 111.  66. 119.  98.  84. 116.  95.  78. 130. 128. 145. 133. 142. 127.
 137. 146. 141. 129. 139. 144. 140. 148. 138. 143.]
['Video/Internet/Voice' 'Video/Internet' 'Internet Only' 'Internet/Voice'
 None 'Video Only' 'Homesecurity Only' 'Video/Internet/Voice/Homesecurity'
 'Internet/Homesecurity' 'Video/Internet/Homesecurity' 'Video/Voice'
 'Internet/Voice/Homesecurity' 'Voice Only' 'Video/Homesecurity'
 'Video/Voice/Homesecurity']
['N' None 'Y']
[None 'Agent' 'Self Service' 'Other']
['Single Housing' 'Multi Housing' 'Exclude mapping' 'Other' 'Commercial'
 None]

In [78]:
#count of null values 
print(df1['var24'].isnull().sum()) 
print(df1['var36'].isnull().sum())
print(df1['var37'].isnull().sum())
print(df1['var38'].isnull().sum())
print(df1['var39'].isnull().sum())
print(df1.shape)

0
0
0
0
0
(300000, 38)

In [60]:
# for var 36 => mode for imputation
df1['var36'].fillna('Video/Internet',inplace = True)

In [77]:
# for var24
# Count of emails sent (in last 60 Days) where Scherp has been the internet provider
types = ['Video/Internet/Voice','Video/Internet','Internet Only','Internet/Voice',
         'Video/Internet/Voice/Homesecurity',
         'Internet/Homesecurity','Video/Internet/Homesecurity',
         'Internet/Voice/Homesecurity']
print(df1.groupby(['var24','var36'])['var24'].mean())
# imputing with zeros
df1['var24'].fillna(0.00,inplace = True)

var24  var36
0.0    Homesecurity Only                      0.0
       Internet Only                          0.0
       Internet/Homesecurity                  0.0
       Internet/Voice                         0.0
       Internet/Voice/Homesecurity            0.0
                                            ...
148.0  Video/Internet/Homesecurity          148.0
       Video/Internet/Voice                 148.0
       Video/Internet/Voice/Homesecurity    148.0
       Video/Voice                          148.0
       Voice Only                           148.0
Name: var24, Length: 1207, dtype: float64

In [67]:
df1['var37'].fillna('N',inplace = True)

In [69]:
df1['var38'].fillna('Other',inplace = True)

In [71]:
df1['var39'].fillna('Single Housing', inplace = True)

In [73]:
print(df1['var24'].value_counts())
print(df1['var36'].value_counts())
print(df1['var37'].value_counts())
print(df1['var38'].value_counts())
print(df1['var39'].value_counts())

0.0      146090
1.0       33185
20.0      11866
21.0      11215
148.0      9933
          ...
147.0        20
145.0        18
146.0        16
143.0        16
135.0        12
Name: var24, Length: 149, dtype: int64
Video/Internet                       109287
Video/Internet/Voice                  98173
Internet Only                         63010
Video Only                             9195
Internet/Voice                         8072
Video/Internet/Voice/Homesecurity      5603
Video/Internet/Homesecurity            5153
Internet/Homesecurity                   714
Video/Voice                             359
Homesecurity Only                       160
Internet/Voice/Homesecurity             154
Voice Only                              107
Video/Homesecurity                       10
Video/Voice/Homesecurity                  3
Name: var36, dtype: int64
N    295302
Y      4698
Name: var37, dtype: int64
Other           221433
Agent            65235
Self Service     13332
Name: var38, dtype: int64
Single Housing     214838
Multi Housing       82374
Exclude mapping      2209
Other                 310
Commercial            269
Name: var39, dtype: int64

In [76]:
df1.isnull().any()

cust_id                  False
var1                     False
var2                     False
var3                     False
var4                     False
var5                     False
var6                     False
var7                     False
var8                     False
var9                     False
var10                    False
var11                    False
var12                    False
var13                    False
var14                    False
var15                    False
var16                    False
var21                    False
var22                    False
var23                    False
var24                    False
var25                    False
var26                    False
var27                    False
var28                    False
var29                    False
var30                    False
var31                    False
var32                    False
var33                    False
var34                    False
var35                    False
var36                    False
var37                    False
var38                    False
var39                    False
var40                    False
self_service_platform    False
dtype: bool

In [79]:
for i in df1.columns:
    print(df1[i].head(1))

0    100001.0
Name: cust_id, dtype: float64
0    2667.0
Name: var1, dtype: float64
0    0.0
Name: var2, dtype: float64
0    0.0
Name: var3, dtype: float64
0    1768.0
Name: var4, dtype: float64
0    0.0
Name: var5, dtype: float64
0    4.0
Name: var6, dtype: float64
0    0.0
Name: var7, dtype: float64
0    2.0
Name: var8, dtype: float64
0    291016.0
Name: var9, dtype: float64
0    0.0
Name: var10, dtype: float64
0    0.0
Name: var11, dtype: float64
0    109.0
Name: var12, dtype: float64
0    447.0
Name: var13, dtype: float64
0    0.0
Name: var14, dtype: float64
0    161.0
Name: var15, dtype: float64
0    0.0
Name: var16, dtype: float64
0    9.0
Name: var21, dtype: float64
0    85287.0
Name: var22, dtype: float64
0    27.0
Name: var23, dtype: float64
0    0.0
Name: var24, dtype: float64
0    0.0
Name: var25, dtype: float64
0    4.0
Name: var26, dtype: float64
0    153.0
Name: var27, dtype: float64
0    0.0
Name: var28, dtype: float64
0    0.0
Name: var29, dtype: float64
0    .
Name: var30, dtype: object
0    0.0
Name: var31, dtype: float64
0    0.0
Name: var32, dtype: float64
0    other
Name: var33, dtype: object
0    Inactive
Name: var34, dtype: object
0    Standard
Name: var35, dtype: object
0    Video/Internet/Voice
Name: var36, dtype: object
0    N
Name: var37, dtype: object
0    Other
Name: var38, dtype: object
0    Single Housing
Name: var39, dtype: object
0    N
Name: var40, dtype: object
0    Desktop
Name: self_service_platform, dtype: object

## Pandas Profiling

In [80]:
profile = pandas_profiling.ProfileReport(df1)

In [81]:
profile.to_file(output_file="eda_round_1.html")

## Random forest classification

## Xgboost classification

## Hyperparameter