In [4]:
import pandas as pd
import pandas_profiling
import numpy as np
from pyxlsb import open_workbook

In [93]:
df=[]
with open_workbook('EXL_EQ_2020_Train_datasets.xlsb') as wb:
    with wb.get_sheet('Train Sample') as sheet:
        for row in sheet.rows():
            df.append([item.v for item in row])

df1 = pd.DataFrame(df[1:], columns=df[0])

KeyboardInterrupt:

In [94]:
df1.head()

,cust_id,var1,var2,var3,var4,var5,var6,var7,var8,var9,...,var32,var33,var34,var35,var36,var37,var38,var39,var40,self_service_platform
0,100001.0,2667.0,0.0,0.0,1768.0,0.0,4.0,0.0,2.0,291016.0,...,0.0,5,2,2,9,0,1,4,0,0
1,100002.0,435.0,0.0,0.0,515.0,0.0,3.0,0.0,0.0,137667.0,...,0.0,5,3,2,7,0,1,4,0,0
2,100003.0,1520.0,0.0,0.0,2280.0,0.0,6.0,0.0,4.0,301567.0,...,0.0,5,2,2,9,0,0,4,1,0
3,100004.0,4393.0,0.0,1.0,5731.0,0.0,8.0,1.0,27.0,436735.0,...,1.0,5,0,2,1,0,1,4,0,0
4,100005.0,3587.0,0.0,0.0,2493.0,0.0,7.0,0.0,7.0,314970.0,...,0.0,2,3,2,1,0,1,2,0,3

In [95]:
df1.shape

(300000, 38)

In [96]:
for i in df1.columns:
    print(df1[i].head(1))

0    100001.0
Name: cust_id, dtype: float64
0    2667.0
Name: var1, dtype: float64
0    0.0
Name: var2, dtype: float64
0    0.0
Name: var3, dtype: float64
0    1768.0
Name: var4, dtype: float64
0    0.0
Name: var5, dtype: float64
0    4.0
Name: var6, dtype: float64
0    0.0
Name: var7, dtype: float64
0    2.0
Name: var8, dtype: float64
0    291016.0
Name: var9, dtype: float64
0    0.0
Name: var10, dtype: float64
0    0.0
Name: var11, dtype: float64
0    109.0
Name: var12, dtype: float64
0    447.0
Name: var13, dtype: float64
0    0.0
Name: var14, dtype: float64
0    161.0
Name: var15, dtype: float64
0    0.0
Name: var16, dtype: float64
0    9.0
Name: var21, dtype: float64
0    85287.0
Name: var22, dtype: float64
0    27.0
Name: var23, dtype: float64
0    0.0
Name: var24, dtype: float64
0    0.0
Name: var25, dtype: float64
0    4.0
Name: var26, dtype: float64
0    153.0
Name: var27, dtype: float64
0    0.0
Name: var28, dtype: float64
0    0.0
Name: var29, dtype: float64
0    0
Name: var30, dtype: int64
0    0.0
Name: var31, dtype: float64
0    0.0
Name: var32, dtype: float64
0    5
Name: var33, dtype: int64
0    2
Name: var34, dtype: int64
0    2
Name: var35, dtype: int64
0    9
Name: var36, dtype: int64
0    0
Name: var37, dtype: int64
0    1
Name: var38, dtype: int64
0    4
Name: var39, dtype: int64
0    0
Name: var40, dtype: int64
0    0
Name: self_service_platform, dtype: int64

In [97]:
# for text columns
print(df1['var30'].value_counts())
print(df1['var33'].value_counts())
print(df1['var34'].value_counts())
print(df1['var35'].value_counts())
print(df1['var36'].value_counts()) #na
print(df1['var37'].value_counts()) #na
print(df1['var38'].value_counts()) #na
print(df1['var39'].value_counts()) #na
print(df1['var40'].value_counts())
print(df1['self_service_platform'].value_counts())

0    300000
Name: var30, dtype: int64
5    272972
3      8285
4      6062
0      5563
1      4904
2      2214
Name: var33, dtype: int64
3    105758
4    104447
0     48580
2     34526
1      6689
Name: var34, dtype: int64
2    283150
0     10127
1      6723
Name: var35, dtype: int64
7     109287
9      98173
1      63010
5       9195
3       8072
10      5603
8       5153
2        714
11       359
0        160
4        154
13       107
6         10
12         3
Name: var36, dtype: int64
0    295302
1      4698
Name: var37, dtype: int64
1    221433
0     65235
2     13332
Name: var38, dtype: int64
4    214838
2     82374
1      2209
3       310
0       269
Name: var39, dtype: int64
0    170475
1    129525
Name: var40, dtype: int64
0    184194
1     55595
2     48063
3     12148
Name: self_service_platform, dtype: int64

In [98]:
df1.isnull().any()

cust_id                  False
var1                     False
var2                     False
var3                     False
var4                     False
var5                     False
var6                     False
var7                     False
var8                     False
var9                     False
var10                    False
var11                    False
var12                    False
var13                    False
var14                    False
var15                    False
var16                    False
var21                    False
var22                    False
var23                    False
var24                    False
var25                    False
var26                    False
var27                    False
var28                    False
var29                    False
var30                    False
var31                    False
var32                    False
var33                    False
var34                    False
var35                    False
var36                    False
var37                    False
var38                    False
var39                    False
var40                    False
self_service_platform    False
dtype: bool

In [99]:
'''
columns that have nan values are var24, var36, var37, var38, var39
'''

print(df1['var24'].unique())
print(df1['var36'].unique())
print(df1['var37'].unique())
print(df1['var38'].unique())
print(df1['var39'].unique())

[  0.  20.  33.   7.  30.   3.  21.  42. 117.   8.   1.  13. 112.  14.
   2.  17.  35.  37.  27.  28.  50.  67.  31.  40.  34.   4. 106.  16.
  41.  47.  74.  52.  64.  39.   9.  60.  59.  12.  19.  43.  68. 132.
  15.  11.  81.  25.  92.   5.  26.  82.  18.  45.  53.   6.  61.  90.
  23.  38.  44.  32.  36.  58.  70.  94.  29.  10.  54.  22.  46.  48.
  65. 104.  77. 103.  55.  57.  24.  49. 110.  97. 114. 109. 136.  96.
 107. 102.  80. 125.  85.  88.  75.  56.  72.  79.  71. 123. 118. 122.
 113.  99. 134.  62. 105.  83. 108.  63. 126. 135. 120.  86.  91. 131.
  76. 100.  93. 101. 121.  89.  51.  69. 124. 147.  87.  73. 115. 111.
  66. 119.  98.  84. 116.  95.  78. 130. 128. 145. 133. 142. 127. 137.
 146. 141. 129. 139. 144. 140. 148. 138. 143.]
[ 9  7  1  3  5  0 10  2  8 11  4 13  6 12]
[0 1]
[1 0 2]
[4 2 1 3 0]

In [100]:
#count of null values 
print(df1['var24'].isnull().sum()) 
print(df1['var36'].isnull().sum())
print(df1['var37'].isnull().sum())
print(df1['var38'].isnull().sum())
print(df1['var39'].isnull().sum())
print(df1.shape)

0
0
0
0
0
(300000, 38)

In [101]:
# for var 36 => mode for imputation
df1['var36'].fillna('Video/Internet',inplace = True)

In [102]:
# for var24
# Count of emails sent (in last 60 Days) where Scherp has been the internet provider
types = ['Video/Internet/Voice','Video/Internet','Internet Only','Internet/Voice',
         'Video/Internet/Voice/Homesecurity',
         'Internet/Homesecurity','Video/Internet/Homesecurity',
         'Internet/Voice/Homesecurity']
print(df1.groupby(['var24','var36'])['var24'].mean())
# imputing with zeros
df1['var24'].fillna(0.00,inplace = True)

var24  var36
0.0    0          0.0
       1          0.0
       2          0.0
       3          0.0
       4          0.0
                ...
148.0  3        148.0
       5        148.0
       7        148.0
       8        148.0
       9        148.0
Name: var24, Length: 1201, dtype: float64

In [103]:
df1['var37'].fillna('N',inplace = True)

In [104]:
df1['var38'].fillna('Other',inplace = True)

In [105]:
df1['var39'].fillna('Single Housing', inplace = True)

In [106]:
print(df1['var24'].value_counts())
print(df1['var36'].value_counts())
print(df1['var37'].value_counts())
print(df1['var38'].value_counts())
print(df1['var39'].value_counts())

0.0      156006
1.0       33185
20.0      11866
21.0      11215
14.0       5262
          ...
145.0        18
148.0        17
143.0        16
146.0        16
135.0        12
Name: var24, Length: 149, dtype: int64
7     109287
9      98173
1      63010
5       9195
3       8072
10      5603
8       5153
2        714
11       359
0        160
4        154
13       107
6         10
12         3
Name: var36, dtype: int64
0    295302
1      4698
Name: var37, dtype: int64
1    221433
0     65235
2     13332
Name: var38, dtype: int64
4    214838
2     82374
1      2209
3       310
0       269
Name: var39, dtype: int64

In [107]:
# df1.isnull().any()

In [108]:
# for i in df1.columns:
#     print(df1[i].head(1))

## Pandas Profiling

In [109]:
# profile = pandas_profiling.ProfileReport(df1)

In [110]:
# profile.to_file(output_file="eda_round_1.html")

In [111]:
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

## Random forest classification

In [112]:
#Auto encodes any dataframe column of type category or object.
def dummyEncode(df):
        columnsToEncode = list(df.select_dtypes(include=['category','object']))
        le = LabelEncoder()
        print ("sdgad")
        for feature in columnsToEncode:
            try:
                df[feature] = le.fit_transform(df[feature])
                print (feature)
                print (le.classes_)
                print ("\n")
            except:
                print('Error encoding '+feature)
        return df

In [113]:
def splitXY(df):
    return [df_encoded.loc[:, 'var1':'var40'], df_encoded["self_service_platform"]]

In [114]:
df_encoded = dummyEncode(df1)

sdgad

In [115]:
X,y=splitXY(df_encoded)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [116]:
clf = RandomForestClassifier(max_depth=5, random_state=0, class_weight="balanced")

In [117]:
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight='balanced',
                       criterion='gini', max_depth=5, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [118]:
print(clf.feature_importances_)

[7.83182276e-02 6.93292658e-03 6.03304206e-02 2.16226940e-02
 7.31948894e-03 9.04716117e-02 3.07547262e-02 3.83945581e-02
 5.96437998e-02 6.78772836e-02 1.50149557e-02 1.62531947e-02
 1.53984720e-02 1.94359814e-02 3.96284241e-02 0.00000000e+00
 5.44638295e-02 7.29184307e-02 3.48145472e-02 2.56153053e-02
 0.00000000e+00 2.30549629e-02 3.72043037e-02 3.89561502e-02
 5.02570772e-02 0.00000000e+00 1.46145821e-03 8.22955188e-02
 9.23609729e-05 3.26286896e-04 7.01250188e-05 5.31574494e-03
 2.05873696e-05 1.11100859e-03 3.33527676e-05 4.59218475e-03]

In [119]:
y_pred = clf.predict(X_test)

In [120]:
print(classification_report(y_test, y_pred)) # Class balance

              precision    recall  f1-score   support

           0       0.80      0.77      0.78     60632
           1       0.62      0.50      0.55     18441
           2       0.41      0.61      0.49     15892
           3       0.59      0.34      0.43      4035

    accuracy                           0.67     99000
   macro avg       0.60      0.55      0.56     99000
weighted avg       0.70      0.67      0.68     99000

In [122]:
clf_1 = RandomForestClassifier(max_depth=5, random_state=0)
clf_1.fit(X_train, y_train)
y_pred = clf_1.predict(X_test)
print(classification_report(y_test, y_pred)) # Class not balanced

              precision    recall  f1-score   support

           0       0.74      0.90      0.81     60632
           1       0.64      0.49      0.55     18441
           2       0.63      0.36      0.46     15892
           3       0.59      0.23      0.33      4035

    accuracy                           0.71     99000
   macro avg       0.65      0.50      0.54     99000
weighted avg       0.70      0.71      0.69     99000

In [128]:
clf_1 = RandomForestClassifier(max_depth=10, random_state=0)
clf_1.fit(X_train, y_train)
y_pred = clf_1.predict(X_test)
print (clf_1.score(X_test, y_test))
print(classification_report(y_test, y_pred)) # Class not balanced

0.7367979797979798
              precision    recall  f1-score   support

           0       0.78      0.88      0.83     60632
           1       0.65      0.55      0.60     18441
           2       0.63      0.51      0.57     15892
           3       0.59      0.33      0.42      4035

    accuracy                           0.74     99000
   macro avg       0.66      0.57      0.60     99000
weighted avg       0.73      0.74      0.73     99000

In [129]:
clf_1 = RandomForestClassifier(n_estimators=250, max_depth=10, random_state=0)
clf_1.fit(X_train, y_train)
y_pred = clf_1.predict(X_test)
print (clf_1.score(X_test, y_test))
print(classification_report(y_test, y_pred)) # Class not balanced

0.7376565656565657
              precision    recall  f1-score   support

           0       0.78      0.88      0.83     60632
           1       0.65      0.55      0.60     18441
           2       0.63      0.52      0.57     15892
           3       0.60      0.33      0.43      4035

    accuracy                           0.74     99000
   macro avg       0.67      0.57      0.61     99000
weighted avg       0.73      0.74      0.73     99000

## Feature Selection

In [141]:
from sklearn.svm import LinearSVC
from sklearn.feature_selection import SelectFromModel
from sklearn.ensemble import ExtraTreesClassifier

In [131]:
lsvc = LinearSVC(C=0.01, penalty="l1", dual=False).fit(X_train, y_train)
y_pred = lsvc.predict(X_test)
print (lsvc.score(X_test, y_test))
print (classification_report(y_test, y_pred)) # Class not balanced

0.687989898989899
              precision    recall  f1-score   support

           0       0.73      0.91      0.81     60632
           1       0.54      0.46      0.50     18441
           2       0.60      0.29      0.39     15892
           3       0.60      0.01      0.02      4035

    accuracy                           0.69     99000
   macro avg       0.62      0.42      0.43     99000
weighted avg       0.67      0.69      0.65     99000

In [138]:
model = SelectFromModel(lsvc, prefit=True)
X_train_select = model.transform(X_train)
X_test_select = model.transform(X_test)

In [139]:
clf_1 = RandomForestClassifier(n_estimators=250, max_depth=10, random_state=0)
clf_1.fit(X_train_select, y_train)
y_pred = clf_1.predict(X_test_select)
print (clf_1.score(X_test_select, y_test))
print(classification_report(y_test, y_pred)) # Class not balanced

0.7292525252525253
              precision    recall  f1-score   support

           0       0.77      0.88      0.82     60632
           1       0.65      0.53      0.58     18441
           2       0.63      0.48      0.54     15892
           3       0.59      0.32      0.42      4035

    accuracy                           0.73     99000
   macro avg       0.66      0.55      0.59     99000
weighted avg       0.72      0.73      0.72     99000

In [142]:
clf = ExtraTreesClassifier(n_estimators=50)
clf = clf.fit(X, y)
model = SelectFromModel(clf, prefit=True)
X_train_select = model.transform(X_train)
X_test_select = model.transform(X_test)

In [145]:
clf_1 = RandomForestClassifier(n_estimators=250, max_depth=10, random_state=0)
clf_1.fit(X_train_select, y_train)
y_pred = clf_1.predict(X_test_select)
print (clf_1.score(X_test_select, y_test))
print(classification_report(y_test, y_pred)) # Class not balanced

0.738020202020202
              precision    recall  f1-score   support

           0       0.79      0.88      0.83     60632
           1       0.65      0.55      0.59     18441
           2       0.62      0.54      0.57     15892
           3       0.60      0.34      0.43      4035

    accuracy                           0.74     99000
   macro avg       0.66      0.57      0.61     99000
weighted avg       0.73      0.74      0.73     99000

In [149]:
clf_1 = RandomForestClassifier(n_estimators=250, max_depth=10, random_state=0, class_weight="balanced")
clf_1.fit(X_train_select, y_train)
y_pred = clf_1.predict(X_test_select)
print (clf_1.score(X_test_select, y_test))
print(classification_report(y_test, y_pred)) # Class not balanced

0.732989898989899
              precision    recall  f1-score   support

           0       0.80      0.85      0.83     60632
           1       0.60      0.58      0.59     18441
           2       0.61      0.55      0.58     15892
           3       0.60      0.35      0.44      4035

    accuracy                           0.73     99000
   macro avg       0.65      0.58      0.61     99000
weighted avg       0.73      0.73      0.73     99000

## Xgboost classification

In [156]:
# !pip install xgboost
import xgboost as xgb
from xgboost.sklearn import XGBClassifier

In [154]:
D_train_select = xgb.DMatrix(X_train_select, label=y_train)
D_test_select = xgb.DMatrix(X_test_select, label=y_test)

In [155]:
D_train = xgb.DMatrix(X_train_select, label=y_train)
D_test = xgb.DMatrix(X_test_select, label=y_test)

In [157]:
xgb4 = XGBClassifier(
 learning_rate =0.01,
 n_estimators=5000,
 max_depth=4,
 min_child_weight=6,
 gamma=0,
 subsample=0.8,
 colsample_bytree=0.8,
 reg_alpha=0.005,
 objective= 'binary:logistic',
 nthread=4,
 scale_pos_weight=1,
 seed=27)

In [163]:
xgb4.fit(X_train_select, y_train)

XGBClassifier(base_score=0.5, booster=None, colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.8, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints=None,
              learning_rate=0.01, max_delta_step=0, max_depth=4,
              min_child_weight=6, missing=nan, monotone_constraints=None,
              n_estimators=5000, n_jobs=4, nthread=4, num_parallel_tree=1,
              objective='multi:softprob', random_state=27, reg_alpha=0.005,
              reg_lambda=1, scale_pos_weight=1, seed=27, subsample=0.8,
              tree_method=None, validate_parameters=False, verbosity=None)

## Hyperparameter